@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-light-webfont.woff2') format('woff2'),
         url('volterounded-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-lightitalic-webfont.woff2') format('woff2'),
         url('volterounded-lightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}


@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-light-webfont.woff2') format('woff2'),
         url('volterounded-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-lightitalic-webfont.woff2') format('woff2'),
         url('volterounded-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-regular-webfont.woff2') format('woff2'),
         url('volterounded-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-italic-webfont.woff2') format('woff2'),
         url('volterounded-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-regular-webfont.woff2') format('woff2'),
         url('volterounded-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-italic-webfont.woff2') format('woff2'),
         url('volterounded-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-semibold-webfont.woff2') format('woff2'),
         url('volterounded-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-semibolditalic-webfont.woff2') format('woff2'),
         url('volterounded-semibolditalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-medium-webfont.woff2') format('woff2'),
         url('volterounded-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-mediumitalic-webfont.woff2') format('woff2'),
         url('volterounded-mediumitalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-bold-webfont.woff2') format('woff2'),
         url('volterounded-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Volte Rounded';
    src: url('volterounded-bolditalic-webfont.woff2') format('woff2'),
         url('volterounded-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}