
@font-face {
  font-family: 'Noto Sans';
  src: local(NotoSans-Bold), url("/assets/fonts/unhinted/NotoSans-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local(NotoSans-BoldItalic), url("/assets/fonts/unhinted/NotoSans-BoldItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Condensed';
  src: local(NotoSans-Condensed), url("/assets/fonts/unhinted/NotoSans-Condensed.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Condensed';
  src: local(NotoSans-CondensedItalic), url("/assets/fonts/unhinted/NotoSans-CondensedItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local(NotoSans-Italic), url("/assets/fonts/unhinted/NotoSans-Italic.woff2") format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local(NotoSans-Light), url("/assets/fonts/unhinted/NotoSans-Light.woff2") format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local(NotoSans-LightItalic), url("/assets/fonts/unhinted/NotoSans-LightItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local(NotoSans-Regular), url("/assets/fonts/unhinted/NotoSans-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local(NotoSans-SemiBold), url("/assets/fonts/unhinted/NotoSans-SemiBold.woff2") format('woff2');
  font-style: normal;
  font-weight: 500 600;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: local(NotoSans-SemiBoldItalic), url("/assets/fonts/unhinted/NotoSans-SemiBoldItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 500 600;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: local(NotoSansDisplay-Bold), url("/assets/fonts/unhinted/NotoSansDisplay-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: local(NotoSansDisplay-BoldItalic), url("/assets/fonts/unhinted/NotoSansDisplay-BoldItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: local(NotoSansDisplay-Italic), url("/assets/fonts/unhinted/NotoSansDisplay-Italic.woff2") format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: local(NotoSansDisplay-Regular), url("/assets/fonts/unhinted/NotoSansDisplay-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: local(NotoSansDisplay-SemiBold), url("/assets/fonts/unhinted/NotoSansDisplay-SemiBold.woff2") format('woff2');
  font-style: normal;
  font-weight: 500 600;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Display';
  src: local(NotoSansDisplay-SemiBoldItalic), url("/assets/fonts/unhinted/NotoSansDisplay-SemiBoldItalic.woff2") format('woff2');
  font-style: italic;
  font-weight: 500 600;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Mono';
  src: local(NotoSansMono-Regular), url("/assets/fonts/unhinted/NotoSansMono-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
